{% extends "home.html" %}
{% load i18n %}
{% block title%}{% trans "edit question"%}{% endblock%}
{% block content%}
<h1>{% trans "edit question"%}</h1>
<form method="post">
    {%csrf_token%}
    <label for="id_name">{% trans "question title"%}</label>
    <input type="text" maxlength="200" id="id_name" name="title" required value="{{question.title}}">
    <label for="id_correctAnswer">{% trans "correct answer"%}</label>
    <input type="text" name="correctAnswer" id="id_correctAnswer" required value="{{question.correctAnswer}}">
    <label for="id_otherAnswers">{% trans "other answers separated by commas"%}</label>
    <input type="text" name="otherAnswers" id="id_otherAnswers" required value="{{question.otherAnswers}}">
    <input type="hidden" name="type" value="edit">
    <button type="submit">{% trans "edit"%}</button>
</form>
<form method="post">
    {%csrf_token%}
    <input type="hidden" value="delete" name="type">
    <button type="submit">{% trans "delete"%}</button>
</form>
{% endblock%}