{% extends "home.html" %}
{% load i18n %}
{% block title%}{% trans "new category"%}{% endblock%}
{% block content%}
<h1>{% trans "new category"%}</h1>
<form method="post">
    {%csrf_token%}
    <label for="id_name">{% trans "name"%}</label>
    <input type="text" maxlength="200" id="id_name" name="name" required>
    <label for="id_text">enter a text or essay hear</label>
    <textarea name="text" id="id_text"></textarea>
    <button type="submit">{% trans "create"%}</button>
</form>
{% endblock%}