{% extends "home.html" %}
{% load i18n %}
{% block title%}{% trans "select a subject"%}{% endblock%}
{% block content%}
<h1>{% trans "select a subject"%}</h1>
<form method="post">
    {%csrf_token%}
    <input type="hidden" name="gui" value="subject">
    <label for="id_subject">{% trans "select a subject"%}</label>
    <select name="subject" id="id_subject">
        {% for subject in subjects%}
        <option value="{{subject.pk}}">{{subject.name}}</option>
        {%endfor%}
    </select>
    <button type="submit">{% trans "next"%}</button>
</form>
{% endblock%}